/* https://xgan.me */

/* by 苍耳 */


body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    color: #999;
    /* background: url(https://xgan.me/images/bj3.jpg) no-repeat; */
    /* overflow: hidden; //取消滚动条 */
    overflow-x: hidden;
}

@font-face {
    font-family: myCatF;
    src: url("product/ttf/字魂32号-汪子义星座体.ttf");
}


#background {
    position: relative;
    height: 580px;
    width: 100%;
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
}
/* 
.adm {
    color: #03A9F4;
    font-size: 50px;
    font-family: myCatF;
    position: relative;
    top: 200px;
    margin: 0 auto;
    z-index: 9;
    z-index: 9;
}

.adm2 {
    clear: both;
    z-index: 9;
} */

.cd-top {
    z-index: 6;
}
#introduction {
    width: 70%;
    height: 260px;
    background: rgba(230, 244, 249, .5);
    position: absolute;
    top: 420px;
    margin: 0 auto;
    padding: 0;
    z-index: 9;
    justify-content: center;
    left: 0;
    bottom: 0;
    right: 0;
}

#subject {
    background: rgba(230, 244, 249, .9);
    width: 100%;
    height: 2700px;
    position: absolute;
    /* top: 330px; */
    top: 580px;
    padding: 0;
    margin: 0 auto;
    z-index: 4;
}

#jj1 {
    font-family: 宋体;
    color: black;
    font-size: 14px;
    text-align: left;
    position: relative;
    margin: 0 10% 30px;
    line-height: 22px;
}

#mainleft {
    float: left;

    position: relative;
    top: 120px;
    margin: 0 0 0 150px;

    background: white;
    width: 50%;
    height: 700px;
    z-index: 7;
    clear: both;
}

#mainleft2 {
    float: left;

    position: relative;
    top: 120px;
    margin: 50px 0 0 150px;

    background: white;
    width: 50%;
    height: 700px;
    z-index: 7;
    clear: both;
}

#mainleft3 {
    float: left;

    position: relative;
    top: 120px;
    margin: 50px 0 0 150px;

    background: white;
    width: 50%;
    height: 700px;
    z-index: 7;
    clear: both;
}

#yes2017 {
    color: #0000FF;
    margin: 0 20px 0;
    font-size: 13px;
}

#mainleft #ydqw {
    position: relative;
    bottom: 1px;
    left: 10px;
}

#typeist {
    position: relative;
    top: 80px;
}

#typeist p {
    font-size: 14px;
    line-height: 30px;
}

#ydqw {
    position: relative;
    top: 4px;
    right: 5px;
    width: 110px;
    height: 30px;
    margin: 40px 0 0 0;
    border: 1px solid;
    border-radius: 3px;
    background-image: linear-gradient(#03A9F4, #03A9F4);
    color: white;
}

#ydqw1 {
    position: relative;
    top: 4px;
    left: 40%;
    line-height: 30px;
}

#ydqw:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

#years20190503 {
    z-index: 999999;
    background: white;
}

#m {
    float: right;
    position: absolute;
    right: 11rem;
    top: 120px;
    background: white;
    width: 350px;
    height: 420px;
    z-index: 6;
}

#mainright {
    float: right;
    position: absolute;
    right: 11rem;
    top: 120px;
    background: white;
    width: 350px;
    height: 420px;
    z-index: 6;
}

#share {
    margin: 25px 0 30px 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#share ul li {
    margin: 0 auto;
    left: 0;
    bottom: 0;
    right: 0;
}

#xdm {
    font-size: 16px;
    font-weight: 700;
    /* font-family: myCatF; */
    margin: 33px 0 0 0;
}

.zsme {
    font-size: 13px;
    position: relative;
    right: -70px;
    /* font-style: italic; */
}

#introduction img {
    cursor: pointer;
    transition: all 0.5s;
}

#introduction img:hover {
    transform: scale(1.3);
}

#introduction #xdm span:nth-child(1) {
    color: #00a7e0 !important
}

#introduction #xdm span:nth-child(2) {
    color: #ff3f1a !important
}

#bfq {
    z-index: 9;
}

.fixed {
    box-sizing: border-box;
    margin: 10px auto;
    width: 772px
}

@media (max-width:0px) {
    .container .fixed {
        width: 900px
    }
}

#divme {
    width: 100%;
    z-index: 3;
}

#dhlx {
    width: 100%;
    z-index: 9999;
}

.fixed,
#divme,
#footer h2 {
    text-align: center;
    letter-spacing: 1pt;
    font-size: 30px;
    font-weight: 500;
    margin-top: 5%;
    margin-bottom: 15px;
}

p {
    text-align: justify;
    text-indent: 2em;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    width: 60%;
    display: none;
    line-height: 40px;
    padding-left: 45%;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    display: inline;
    text-align: center;
    letter-spacing: 20px;
}

a:hover img {
    transform: scale(1.2);
    opacity: 0.07;
}


#footer {
    clear: both;
    position: absolute;
    bottom: 0px;
    width: 100%;
    line-height: 20px;
    text-align: center;
    width: 100%;
    padding: 0.8rem 0;
}

#cs1 {
    font-size: 13px;
    color: #0033CC;
}

#cs2 {
    font-size: 13px;
    color: #0033CC;
}

#cs3 {
    font-size: 12px;
    color: #0033CC;
}
